<h1>{{ title }}</h1>
<h1>Bonjour</h1>
<h1 [innerText]="name"></h1>
<p [innerText]="paragraphText"></p>
<img [src]="image.src" alt="" />
<p></p>
<!-- event binding -->
<button (click)="updateUI()">Update UI</button>


<!-- Insertion d'un composant enfant (child component) -->
<!-- <app-counter></app-counter> -->

<!-- Utilisation de la directive *ngFor -->

<p *ngFor="let student of students">{{student}}</p>


<ul>
    <li *ngFor="let student of students2" [ngStyle]="{'color':student.grade < 10 ?'red' : 'black'}">

        {{student.name}}

        <span *ngIf="student.grade>14">
            (bon élève)
        </span>
    </li>
</ul>

<!-- Switch -->
<!-- 
<app-switch></app-switch>

<app-carousel></app-carousel> -->

<app-article-list 
    [articles]="articles"
    (change) = "test()"
    >
</app-article-list>

<app-article-order ></app-article-order>